<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Transacciones</h4>
      </div>
      <div class="card-body">
        <div class="">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Nombre
              </th>
              <th>
                Id
              </th>
              <th class="text-right">
                Montos
              </th>
            </thead>
            <tbody>
             <tr>
                <td>
                  Jon Porter
                </td>
                <td>
                  A20784148
                </td>
                <td class="text-right">
                  $+276.13
                </td>
              </tr>
            
            
             <tr>
                <td>
                  Maira ojeda
                </td>
                <td>
                  C20784148
                </td>
                <td class="text-right">
                  $-27.00
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
