<div class="card card-user bar">
  <div class="button-container">
    <div class="row justify-content-center">

      <div class="col-5">
        <i class="mat-icon user hola arreglo"></i>
          <p class="card-category">Nombre</p>
            <p class="card-title">Anthony<p>
            </div>

          <div class="col-5">
            <i class="mat-icon dolar text-success hola arreglo"></i>
              <p class="card-category">Tu Saldo</p>
                <p class="card-title">$ 249.13<p>
        </div>

      

</div>
</div>
</div>
  
   










<div class="row">
  
  <div class="col-md-12">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-title">Estadisticas</h5>
        <p class="card-category">Ingresos</p>
      </div>
      <div class="card-body">
        <canvas id="speedChart" width="400" height="200"></canvas>
      </div>
      <div class="card-footer">
        <div class="chart-legend">
          
        
        </div>
        <hr/>
        <div class="card-stats">
          
        </div>
      </div>
    </div>
  </div>
</div>
