<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="http://coinbank.ddns.net">
                        coinbank.ddns.net
                    </a>
                </li>
                <li>
                    <a href="http://coinbank.ddns.net">
                       Blog
                    </a>
                </li>
                <li>
                    <a href="http://coinbank.ddns.net">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, By <a href="http://coinbank.ddns.net">StarkEnergys</a>
        </div>
    </div>
</footer>
